@import "variables";

.stars {
  width: 1px;
  height: 1px;
  background: transparent;
  border-radius: 50%;
  $star-shadows: ();
  @for $i from 1 through $stars-count {
    $x: random($max-x);
    $y: random($max-y);
    $blur: random($max-blur);
    $size: random($max-size);
    $star-shadows: append(
      $star-shadows,
      #{$x}vw #{$y}vh #{$blur}px #{$size}px white,
      comma
    );
  }

  box-shadow: $star-shadows;
  transition: opacity $animation-duration linear;
  opacity: 0;
}

.animation-started .stars {
  opacity: 1;
  animation: twinkle $transition-duration ease-in-out infinite
    $animation-duration;
}

.animation-reverse .stars {
  animation: fade-out $animation-duration forwards;
}
