@media screen and (max-width: 1080px) {
    div#sun {
        background-color: indianred !important;
    }
    div#pic {
        background-color: lawngreen !important;
    }
    div#mtn {
        background-color: lightgreen;
        display: block;
        clear: both;
    }
}