html {
    background-image: linear-gradient(to bottom left, #003366 25%, lightsalmon);
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.star {
    position: fixed;
    top: 80%;
    box-shadow: 0 0 4px 1px white;
    background-color: white;
}

.s1 {
    position: fixed;
    top: 26%;
    left: 50%;
    height: 1px;
    width: 1px;
    border-radius: 1px;
}

.s2 {
    position: fixed;
    top: 31%;
    left: 50%;
    height: 1px;
    width: 1px;
    border-radius: 1px;
}

.s3 {
    position: fixed;
    top: 23%;
    left: 50%;
    height: 1px;
    width: 1px;
    border-radius: 1px;
}

.s4 {
    position: fixed;
    top: 20%;
    left: 50%;
    height: 1px;
    width: 1px;
    border-radius: 1px;
}

.s5 {
    position: fixed;
    top: 48%;
    left: 50%;
    height: 1px;
    width: 1px;
    border-radius: 1px;
}

.s6 {
    position: fixed;
    top: 27%;
    left: 50%;
    height: 1px;
    width: 1px;
    border-radius: 1px;
}

.s7 {
    position: fixed;
    top: 12%;
    left: 50%;
    height: 1px;
    width: 1px;
    border-radius: 1px;
}

.s8 {
    position: fixed;
    top: 35%;
    left: 50%;
    height: 1px;
    width: 1px;
    border-radius: 1px;
}

.s9 {
    position: fixed;
    top: 30%;
    left: 50%;
    height: 1px;
    width: 1px;
    border-radius: 1px;
}

.s10 {
    position: fixed;
    top: 5%;
    left: 50%;
    height: 1px;
    width: 1px;
    border-radius: 1px;
}

#sunShadow {
    position: fixed;
    bottom: 0%;
    left: 50%;
    width: 1px;
    height: 1px;
    border-radius: 1px;
    animation: 4s forwards 1 slidein, shadow 4s forwards;
    box-shadow: 0 0 1000px 700px lightyellow;
    transform: rotate(0turn) translate(0, -74000%) rotate(0turn);
}

#sun {
    position: fixed;
    bottom: 0%;
    left: 50%;
    width: 1px;
    height: 1px;
    border-radius: 1px;
    animation: 4s forwards 1 slidein, sun 4s forwards;
    box-shadow: 0 0 20px 50px yellow;
    transform: rotate(0turn) translate(0, -74000%) rotate(0turn);
    z-index: 2;
}

#sunCenter {
    position: fixed;
    bottom: 0%;
    left: 50%;
    width: 1px;
    height: 1px;
    border-radius: 1px;
    animation: slidein 4s forwards, sun-center 4s forwards;
    box-shadow: 0 0 20px 10px red;
    background-color: orangered;
    transform: rotate(0turn) translate(0, -74000%) rotate(0turn);
    z-index: 3;
}

.pic {
    /* TO DO : clip-path: *** */
    position: fixed;
    left: 5%;
    bottom: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid darkolivegreen;
    z-index: 100;
}

.change-pic {
    animation: 3s 2s forwards 1 change-pic;
}

.change-mtn {
    animation: 3s 2s forwards 1 change-mtn;
}

#mtn {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    margin: 0;
    background-color: darkolivegreen;
    z-index: 100;
    /* visibility: hidden; */
}

@keyframes slidein {
    0% {
        transform: rotate(0turn) translate(0, -74000%) rotate(0turn);
    }
    100% {
        transform: rotate(-0.25turn) translate(0, -74000%) rotate(0.25turn);
    }
}

@keyframes sun-center {
    to {
        box-shadow: 0 0 30px 15px red;
    }
}

@keyframes sun {
    to {
        box-shadow: 0 0 25px 55px orange;
    }
}

@keyframes shadow {
    to {
        box-shadow: 0 0 1000px 350px #f90;
    }
}

@keyframes change-pic {
    100% {
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
        border-bottom: 200px solid #35441d;
    }
}

@keyframes change-mtn {
    100% {
        background-color: #35441d;
    }
}

button {
    height: 50px;
    width: 150px;
}


/*# sourceMappingURL=style.css.map */