html {
    background-image: linear-gradient(to top, orange 5%, lightskyblue 15%);
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

div#sun {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    animation: 4s forwards 1 slidein;
    background: radial-gradient(orangered 5px, yellow 75%);
    box-shadow: 0 0 200px 300px yellow;
}

div#pic {
    /* TO DO : clip-path: *** */
    position: fixed;
    left: 5%;
    bottom: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid darkolivegreen;
}

.change-pic {
    animation: 3s 2s forwards 1 change-pic;
}

.change-mtn {
    animation: 3s 2s forwards 1 change-mtn;
}

div#mtn {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    margin: 0;
    background-color: darkolivegreen;
    z-index: 100;
    /* visibility: hidden; */
}

@keyframes slidein {
    0% {
        box-shadow: 0 0 1000px 500px orangered;
        background-image: radial-gradient(orangered 5px, yellow 85%);
    }
    40% {
        /* box-shadow: 0 0 500px 750px rgb(255, 255, 0);
        background-image: radial-gradient(orangered 5px, yellow 85%); */
    }
    50% {
        opacity: 65%;
        box-shadow: 0 0 1000px 1000px lightgoldenrodyellow;
        background-image: radial-gradient(orangered 5px, yellow 85%);
        /* transform: scale(0.5, 0.5); */
    }
    60% {
        /* box-shadow: 0 0 500px 750px rgb(255, 255, 0);
        background-image: radial-gradient(orangered 5px, yellow 85%); */
    }
    100% {
        box-shadow: 0 0 1000px 500px lightsalmon;
        background-image: radial-gradient(orangered 5px, yellow 85%);
        /* TO DO */
        transform: rotate(45deg) translate(850%, -850%);
    }
}

@keyframes change-pic {
    100% {
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
        border-bottom: 200px solid rgb(53, 68, 29);
    }
}

@keyframes change-mtn {
    100% {
        background-color: rgb(53, 68, 29);
    }
}